body {
    /* background: green; */
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
a {
    color: teal;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.bg-image {
    background-image: url('../images/photo_2020-05-11_21-21-27.jpg');
    background-size: cover ;
    background-position: center center;
    display: block;
    filter: blur(4px);
    height: auto;
    left: 0;
    margin-top: 0px;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: -1;
    -webkit-filter: blur(4px);
    
}

.menu {
    background-color: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.site-subtitle,
.site-title {
    color: chocolate;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}