
/* reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* background: green; */
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/* se a tela tiver pelo menos 400px vai varregar
 esses estilos */
 @media(min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media(min-width: 600px) {
    body {
        font-size: 16px;
    }
}

header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: teal;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.bg-image {
    background-image: url('../images/photo_2020-05-11_21-21-27.jpg');
    background-size: cover ;
    background-position: center center;
    display: block;
    filter: blur(4px);
    height: auto;
    left: 0;
    margin: 0;
    margin-top: 0px;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: -1;
    -webkit-filter: blur(4px);
    
}

.image-portfolio {
    width: 150px;
    height: 150px;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.site-subtitle,
.site-title {
    color: chocolate;
    text-align: center;
}

.site-title {
    font-size: 4em;
}

.site-subtitle {
    font-style: italic;
}